<hr>
<footer>
    <div class="footer-content">

      <div class="social">
          <h4>Social</h4>
          <div class="social-icons">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </div>
      </div>

      <div class="footer-nav">
        <div class="center-div">
          <h4>Navigate</h4>
          <div class="nav-links">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/shop">Shop</a>
            <a class="nav-link" href="/contact">Contact</a>
          </div>
        </div>
      </div>

      <div class="footer-notice">
        <div class="center-div">
          <h4>Local Pickup</h4>
          <p>We are working to fulfill all orders and are offering safe pickup from Monday-Saturday! <br> <br>Please <a href="/contact">contact us</a> with any questions.</p>
        </div>
      </div>

    </div>

    <p class="trademark">&copy; <span id="copyright-year"></span> Balaji Longi Masale.</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascript/main.js"></script>

</body>
</html>
