<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Balaji Masale</title>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2822c3d264.js" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>

    <!-- Header and Navbar -->
    <header>

      <div class="site-heading">
        <h1 class="logo">
          <a href="/">
            <img src="/images/logo.webp" alt="Balaji Masale's Logo">
          </a>
        </h1>
        <div class=".contact-details">
          <!-- <p><i class="fas fa-envelope"></i>support@balajimasale.com</p>
          <p><i class="fas fa-phone-alt"></i>+91 8003875247</p> -->
        </div>
      </div>

      <!-- <nav>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/contact">Contact</a>
      </nav> -->

      <nav>
        <span class="open-slide">
          <a href="#" onclick="openSideMenu()">
            <svg width="30" height="30">
              <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
              <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
              <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
            </svg>
          </a>
        </span>

        <!-- <ul class="navbar-nav">
          <li><a href="#">Shop</a></li>
          <li><a href="#">Longi Specials</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul> -->

        <div class="navbar">
          <a href="/shop">Shop</a>
          <a href="/specials">Longi Specials</a>
          <a href="/about">About Us</a>
          <a href="/contact">Contact</a>
        </div>

        <div id="side-menu" class="side-nav">
          <a href="#" class="btn-close" onclick="closeSideMenu()">&times;</a>
          <a href="/shop">Shop</a>
          <a href="/specials">Longi Specials</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </div>
      </nav>

      <!-- <hr> -->

    </header>
