<%- include('partials/header'); -%>

<div class="contact-container">

  <div class="contact-container-inner shop-hours">
    <h2>Shop Hours</h2>
    <p>We are currently operating our local shop during the hours listed below. Please note<br>that our shop is only located in the town of Beawar in the state of Rajasthan.<br>If your are located anywhere other than Beawar, please visit <a href="#">here</a>.</p>
    <p>Monday-Friday: 9-5pm<br>
      Saturday: 10-4pm<br>
      Sunday: Closed for delivery</p>
  </div>
<!--
  <div class="contact-container-inner">
    <h2>If you got any questions, please reach out to us!</h2>
    <p><i class="fas fa-envelope"></i>support@balajimasale.com</p>
    <p><i class="fas fa-phone-alt"></i>+91 8003875247</p>
  </div> -->

  <div class="address-container">
    <div class="address">
      <h3>Factory A</h3>
      <p>Plot No. 9,10,11, Survey No. 200/1, Gram Bhorasala, Sanwer Road, Indore (M.P.)</p>
    </div>
    <div class="address">
      <h3>Factory B</h3>
      <p>Survey No. 74-75, Gram Bardari, Sanwer Road Indore (M.P.)</p>
    </div>
  </div>

  <div class="maps">
    <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14328.97432930928!2d74.33557354407941!3d26.12359977105135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8bbeb560c69b2711!2sBalaji%20Longi%20Suppliers!5e0!3m2!1sen!2sin!4v1606067276588!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>

</div>

<%- include('partials/footer'); -%>
