<%- include('partials/header'); -%>

<div class="contact-container">

  <div class="contact-container-inner">
    <h2>If you got any questions, please reach out to us!</h2>
    <p><i class="fas fa-envelope"></i>support@balajimasale.com</p>
    <p><i class="fas fa-phone-alt"></i>+91 8003875247</p>
  </div>

  <div class="contact-container-inner">
    <h2>Shop Hours</h2>
    <p>We are currently operating our local shop during the hours listed below. Please note<br>that our shop is only located in the town of Beawar in the state of Rajasthan.<br>If your are located anywhere other than Beawar, please visit <a href="#">here</a>.</p>
    <p>Monday-Friday: 9-5pm<br>
      Saturday: 10-4pm<br>
      Sunday: Closed for delivery</p>
  </div>

</div>

<%- include('partials/footer'); -%>
