 @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
 /*
 font-family: "Cormorant Garamond", serif;
 font-family: "Raleway", sans-serif;
font-family: 'Inter', sans-serif;
*/

body{
  margin: 0;
  padding: 0 0 0 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  background-color: #EEECE8;
}

h1, h2. h3, h4, h5, h6{
  color: #46321E;
}

h2{
  font-family: "Cormorant Garamond", serif;
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
}

a{
  text-decoration: none;
  color: black;
}

/* --------------Header Starts----------------- */
header{
  text-align: center;
}

.logo{
  margin: 0;
  padding: 1rem 0 1rem;
}



nav{
  background-color: #EEECE8;
  padding: 1.15rem 0;
  border-bottom: 1px solid #CDC9C0;
  z-index: 101;
}

.navbar a{
  margin: 0 1.5rem 0;
  padding: 0.6rem 0 0.35rem;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
}

/* Navbar Hover effect */
.navbar a{
    position: relative;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #CDC9C0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.navbar a:hover:before {
  visibility: visible;
  width: 100%;
}

#side-menu{
  background-color: #f2f;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
}

#side-menu a{
  padding: 0.75rem 2rem;
  text-decoration: none;
  font-size: 1.25rem;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-menu a:hover{
  color: #fff;
}

.btn-close{
  font-size: 2rem !important;
  position: absolute;
  top: 0;
  right: 1.25rem;
  /* margin-left: 0; */
}

hr{
  border-bottom: 0;
  border-top: 1px solid #CDC9C0;
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
  /* left: 14rem; */
}

.content{
  margin: 0;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  body{
    margin: 0;
    /* padding: 0 10rem 0; */
  }

  .sticky {
    position: fixed;
    top: 0;
    /* left: 10rem;
    right: 10rem; */
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  body{
    margin: 0;
    /* padding: 0 5rem 0; */
  }

  .sticky {
    position: fixed;
    top: 0;
    /* left: 5rem;
    right: 5rem; */
  }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  body{
    margin: 0;
    /* padding: 0 5rem 0; */
  }

  .sticky {
    position: fixed;
    top: 0;
    /* left: 5rem;
    right: 5rem; */
  }

  .navbar{
    display: none;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){
  body{
    margin: 0;
    /* padding: 0 5rem 0; */
  }

  .sticky {
    position: fixed;
    top: 0;
    /* left: 5rem;
    right: 5rem; */
  }
}

@media (min-width: 767.98px) {
  .open-slide{
    display: none;
  }
}
/* -------------------Header Ends------------------- */


/* -----------------Carousel Starts--------------- */
/* .carousel{
  margin: 0;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
} */

.slider{
  position: relative;
  /* overflow: hidden; */
  height: 30rem;
  width: 100%;
  /* margin-top: 3.5rem;
  margin-bottom: 3.5rem; */
  margin: 0;
}

.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current{
  opacity: 1;
}

.slide .slide-layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.slide .content{
  font-family: "Cormorant Garamond", serif;
  position: absolute;
  top: 36%;
  left: 10%;
  width: 80%;
  height: auto;
  color: #fff;
  opacity: 0;
  text-align: center;
}

.slide .content h1{
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
}

.slide .content p{
  font-size: 1.5rem;
  font-weight: 400;
}

.slide.current .content{
  opacity: 1;
  transform: translateY(-1rem);
  transition: all 0.7s ease-in-out 0.3s;
}

.slider-content-button{
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 1);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.slider-content-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.slider-content-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.slider-content-button:hover span {
  padding-right: 25px;
}

.slider-content-button:hover span:after {
  opacity: 1;
  right: 0;
}

.buttons button#prev{
  position: absolute;
  top: 50%;
  left: 2%;
}

.buttons button#next{
  position: absolute;
  top: 50%;
  right: 2%;
}

.buttons button{
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 100%;
  padding: 0.75rem 0.9rem;
  outline: none;
  transition: 0.4s;
}

.buttons button:hover{
  background-color: #fff;
  color: #333;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .slider{
    height: 28rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .slider{
    height: 20rem;
  }

  .slide .content{
    top: 30%;
  }

  .slide .content h1{
    font-size: 4rem;
  }

  .slide .content p{
    font-size: 1.5rem;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .slider{
    height: 17rem;
  }

  .slide .content{
    top: 37%;
  }

  .buttons{
    display: none;
  }

  .slide .content h1{
    font-size: 3rem;
  }

  .slide .content p{
    font-size: 1rem;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){
  .slider{
    height: 15rem;
  }

  .slide .content{
    top: 35%;
  }

  .slide .content h1{
    font-size: 2.25rem;
  }

  .slide .content p{
    font-size: 1rem;
  }
}

  /* background images */
  .slide:first-child{
    background: url("../images/3.jpg") no-repeat center center/cover;
  }
  .slide:nth-child(2){
    background: url("../images/4.jpg") no-repeat center center/cover;
  }
  .slide:nth-child(3){
    background: url("../images/2.jpg") no-repeat center center/cover;
  }
  .slide:nth-child(4){
    background: url("../images/1.jpg") no-repeat center center/cover;
  }
/* ----------------Carousel Ends---------------- */


/* -------------Covid Guidelines Starts--------------- */
.covid-guidelines{
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 1rem 7rem;
}

@media (max-width: 991.98px){
  .covid-guidelines{
    font-size: 1.75rem;
  }
}

@media (max-width: 767.98px){
  .covid-guidelines{
    font-size: 1.5rem;
  }
}

@media (max-width: 575.98px){
  .covid-guidelines{
    font-size: 1.25rem;
  }

}
/* -------------Covid Guidelines Ends--------------- */


/* -------------Bestsellers Starts--------------- */
.featured{
  margin: 3.5rem 0;
}

.featured-heading{
  text-align: center;
}

.products{
  width: 100%;
}

.product-row{
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.product-card{
  /* width: 18rem;
  height: 23rem; */
  padding: 1.5%;
  flex-grow: 1;
  flex-basis: 22%;
  text-align: center;
}

.product-overview{
  position: relative;
}

.product-overview-image{
   max-width: 100%;
  /* height: 100%; */
  opacity: 1;
  transition: .4s ease;
  backface-visibility: hidden;
}

.product-overview-options{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .4s ease;
  text-align: center;
}

.product-overview-options button{
  border: 1px solid #EEECE8;
  margin-bottom: 0.75rem;
  background-color: #ebdfc7;
  padding: 0.75rem;
  width: 60%;
  font-size: 1rem;
  font-weight: 500;
  color: #454441;
  transition: 0.4s ease-in-out;
  outline: none;
}

.product-overview-options button:hover{
  cursor: pointer;
  color: #000;
  background-color: #e8cf9e;
  border: 1px solid #F0DAB8;
}

.product-overview-options button i{
  padding-right: 0.5rem;
}

.product-overview:hover .product-overview-image{
  opacity: 0.6;
}

.product-overview:hover .product-overview-options{
  opacity: 1;
}

.product-actions{
  position: absolute;
  width: 80%;
  height: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
	margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-details{
  margin-top: auto;
}

.product-details-name{
  margin: 0.5rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #46321E;
}

.product-details-price{
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .product-overview-options button{
    font-size: 0.8rem;
  }

  .product-details-name{
    font-size: 1.45rem;
  }

  .product-details-price{
    font-size: 0.95rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .product-card{
    flex-grow: 1;
    flex-basis: 30%;
  }

  .product-card:first-child {
    flex: 2 97%;
  }

  .product-overview-options button{
    font-size: 0.75rem;
  }

  .product-details-name{
    font-size: 1.35rem;
  }

  .product-details-price{
    font-size: 0.85rem;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){
  .product-card{
    flex-grow: 1;
    flex-basis: 47%;
  }
  .product-card:first-child {
    flex: 2 47%;
  }

  .product-details-name{
    font-size: 1.25rem;
  }

  .product-details-price{
    font-size: 0.75rem;
  }
}
/* -------------Bestsellers Ends--------------- */


/* -------------Key Features Starts--------------- */
.features{
  background: url("../images/usp.jpg") no-repeat center center/cover;
  height: 30rem;
  /* margin: 3.5rem 0; */
}

.feature-layer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.feature{
  flex-grow: 1;
  flex-basis: 30%;
  text-align: center;
  margin: 9rem 0;
  /* width: 25%; */
  color: #fff;
}

.feature h3{
  font-family: "Cormorant Garamond", serif;
  font-size: 1.75rem;
  font-weight: 600;
}

@media (max-width: 991.98px){
  .featured-heading h2, .call-to-action h2{
    font-size: 2.5rem;
  }
}

@media (max-width: 767.98px){
  .features{
    background: url("../images/usp-mobile.jpg") no-repeat center center/cover;
    height: 100vh;
  }

  .featured-heading h2, .call-to-action h2{
    font-size: 2.25rem;
  }

  .feature{
    flex-basis: 90%;
    margin: 1rem 0;
  }

  .feature:nth-child(1){
    margin-top: 3rem;
  }
}

@media (max-width: 575.98px){
  .featured-heading h2, .call-to-action h2{
    font-size: 2rem;
  }
}
/* -------------Key Features Ends--------------- */


/* ------------- Call to Action Starts -------------- */
.call-to-action{
  margin: 3.5rem 0;
  text-align: center;
}

.call-to-action h2{
  letter-spacing: 1px;
}

.social-icons{
  margin-top: 2rem;
}

.social-icons a{
  margin: 1rem;
  transition: 0.4s;
}

.social-icons a:hover{
  color: #46321E;
}

/* ------------- Call to Action Ends -------------- */


/* ------------------ Footer Starts --------------- */
footer{
  font-family: 'Inter', sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  padding: 2.5rem 10rem 2rem;
}

.footer-content{
  padding-bottom: 3.5rem;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav, .footer-notice, .social{
  flex: 1;
  /* text-align: center; */
}

.footer-notice{
  /* width: 27%; */
  line-height: 1.5;
}

.footer-notice p{
  margin: 0;
  /* max-width: 60%; */
}

.footer-notice a{
  text-decoration: underline;
}

.social .social-icons{
  margin: 0;
}

.social .social-icons a{
  margin-left: 0;
}

h4{
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding-bottom: 1rem;
}

.nav-links{
  display: flex;
  flex-direction: column;
}

.nav-link{
  margin-top: 1rem;
}

.nav-link:first-child{
  margin-top: 0;
}

.nav-link:hover{
  text-decoration: underline;
}

.trademark{
  text-align: center;
}

@media (max-width: 767.98px){
  footer{
    padding: 2.5rem 2rem; 2rem;
  }

  .footer-nav, .footer-notice, .social{
    flex: 100%;
  }

  .footer-nav, .footer-notice{
    margin-top: 2rem;
  }
}
/* ------------------ Footer Ends --------------- */

/* ---------------------------------------------------------------- Contact Page Starts ------------------------------------------------------------- */
.contact-container{
  position: relative;
  height: auto;
  text-align: center;
  margin: 3rem 20rem 3rem;
  padding: 1rem;
}

.contact-container-inner:nth-child(2){
  margin-top: 4rem;
}

.contact-container-inner i{
  margin-right: 0.75rem;
}

.contact-container h2{
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

.contact-container p{
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.5;
}

.contact-container p a{
  text-decoration: underline;
}


.address-container{
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0 2rem;
}

.shop-hours{
  /* margin-top: 3rem; */
}

.address{
  font-family: "Inter", sans-serif;
  font-weight: 300;
  flex-grow: 1;
  flex-basis: 30%;
  padding: 2%;
  border: 1px solid #CDC9C0;
}


.address:nth-child(1){
  margin-right: 4rem;
}

.maps{
  width: 100%;
  height: 30rem;;
}

@media (max-width: 1199.98px){
  .contact-container{
    margin: 2.75rem 15rem 2.75rem;
  }
}

@media (max-width: 991.98px){
  .contact-container{
    margin: 2.75rem 10rem 2.75rem;
  }
}

@media (max-width: 767.98px){
  .contact-container{
    margin: 1.5rem 2rem 1.5rem;
  }

  .address{
    flex-grow: 1;
    flex-basis: 100%;
  }

  .address:nth-child(1){
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 575.98px){
  .contact-container{
    margin: 1.75rem 1.75rem 1.75rem;
  }
}
/* ---------------------------------------------------------------- Contact Page Ends ------------------------------------------------------------- */


/* ---------------------------------------------------------------- Shop Page Starts ------------------------------------------------------------- */
.shop-heading{
  padding: 3.5rem;
  text-align: center;
  font-size: 3rem;
}

.shop-container .product-card a{
  cursor: pointer;
}

.shop-container .product-row{
  padding-top: 0;
}

.breadcrumbs{
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 0.85rem;
  text-align: center;
  padding: 2rem 0;
}

.breadcrumbs a:hover{
  text-decoration: underline;
}

.breadcrumbs-separator {
  color: #9b9890;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){

}
/* ---------------------------------------------------------------- Shop Page Ends ------------------------------------------------------------- */


/* ---------------------------------------------------------------- Category Page Starts ------------------------------------------------------------- */
.category-details{
  max-width: 50%;
  text-align: center;
  margin: auto;
}

.category-heading{
  text-align: center;
  margin: 0;
}

.category-details p{
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.5;
}
/* ---------------------------------------------------------------- Category Page Ends ------------------------------------------------------------- */

/* ---------------------------------------------------------------- Product Page Starts ------------------------------------------------------------- */
.product-page{
  padding: 0 10rem;
  display: flex;
  flex-wrap: wrap;
  color: #46321E;
  /* justify-content: space-around; */
}

.product-page-image, .product-page-information{
  /* padding: 0 5rem; */
  flex-grow: 1;
  flex-basis: 40%;
}

.product-page-information{
  margin-bottom: 2rem;
}

.buy-link{
  margin: 0 3rem;
  width: 15%;
  height: auto;
}

.product-information-price{
  font-family: "Inter", sans-serif;
  margin: 0.25rem 0 1rem;
  font-size: 1.5rem;
  color: #000;
  font-weight: 300;
}

.product-page-buy-options{
  padding: 1rem 0;
  text-align: center;
}

.product-page-buy-options h4{
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  background-color: #776342;
  border-radius: 3px;
}

.buy-links{
  /* margin: 2rem; */
}

.flipkart{
  margin-bottom: 1rem;
  width: 10rem;
  height: auto;
}

.amazon{
  width: 10rem;
  height: auto;
}

.product-information-description{
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem;
}

.buy-link:first-child{
  padding-left: 0;
}

.buy-link:nth-child(2){
  padding-top: 1rem;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .product-name{
    font-size: 2rem;
  }

  .product-information-price{
    font-size: 1.25rem;
  }

  .product-page-buy-options h4{

  }

  .product-information-description{

  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .product-page{
    padding: 0 2.5rem 1.5rem;
  }

  .product-page-image, .product-page-information{
    flex: 1 100%;
  }

  .product-page-image{
    text-align: center;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){

}
/* ---------------------------------------------------------------- Product Page Ends ------------------------------------------------------------- */



/* ---------------------------------------------------------------- About Page Starts ------------------------------------------------------------- */
.about-container{
  margin: 0 20rem 3rem;
  text-align: center;
}

.about-heading{
  padding: 3rem 0;
  color: #46321E;
}

.about-image img{
  height: auto;
  width: 100%;
  filter: grayscale(100%);
}

.about-description{
  text-align: justify;
  padding: 1.5rem 0;
}

@media (max-width: 991.98px){
  .about-container{
    margin: 0 10rem 2.75rem;
  }
}

@media (max-width: 767.98px){
  .about-container{
    margin: 0 2rem 1.5rem;
  }
}

@media (max-width: 575.98px){
  .about-container{
    margin: 0 1.75rem 1.75rem;
  }
}

/* ---------------------------------------------------------------- About Page Ends ------------------------------------------------------------- */
